.btn {
  display: flex;
  align-items: center;
  column-gap: 15px;
  max-width: 362px;
  height: 56px;
  text-align: center;
  padding: 20px 50px;
  font-size: 18px;
  font-family: var(--font-primary);
  letter-spacing: 1px;
  line-height: 1.2;
  border-radius: 8px;

  color: #fff;
  background-color: var(--color-title);
  transition: 0.3s ease-in;
}

.btn:hover {
  background-color: #1a1875;
}
