.connection {
  background-color: #f0eff0;
}

.connection-content {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
  padding: 83px 0 95px;
}

.connection-img img {
  width: 523px;
}

.connection-desc {
  padding-top: 30px;
}

.connection-title {
  padding-bottom: 45px;
  font-size: 32px;
  font-family: var(--font-primary);
  line-height: 1.25;
  color: #2a2996;
}

.connection-desc p {
  max-width: 620px;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: var(--font-primary);
  line-height: 1.55;
  letter-spacing: 0.5px;
  color: var(--color-lightgray);
}
