.faq {
  margin: 108px 0 88px;
  font-family: var(--font-primary);
}

.faq-wrapper {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

hr {
  max-width: 630px;
  border: 1px solid #eaeaea;
}

.faq-title {
  margin-bottom: 50px;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 1px;
  color: var(--color-title);
}

.faq-left {
  width: 630px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

details {
  list-style: none;
  outline: none;
  padding-bottom: 26px;
  border-bottom: 1px solid #eaeaea;
}

details p {
  display: block;
  padding-top: 13px;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--color-gray);
}

summary {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  align-items: center;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: var(--color-title);
  cursor: pointer;
}

summary:after {
  content: url("../../img/icons/+.svg");
  display: block;
  width: 33px;
  height: 20px;
  transition: transform 0.5s;
}

details[open] > summary:after {
  content: url("../../img/icons/-.svg");
  position: absolute;
  right: 0;
  top: -6px;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
