.info {
  margin-bottom: 84px;
  font-family: var(--font-primary);
  background-color: #f0eeef;
  color: var(--color-title);
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 42px 0 55px;
}

.info-wrapper h3 {
  padding-bottom: 28px;
  font-size: 25px;
  line-height: 1.6;
  letter-spacing: 1.2px;
}

.info-block__wrapper {
  display: flex;
  column-gap: 55px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  border: 1px solid #eaeaea;
}

.info-block img {
  display: block;
  width: 42px;
  height: 42px;
  margin-bottom: 13px;
}

.info-block__strong {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 22px;
  line-height: 0.8;
  letter-spacing: 0.8px;
}

.info-block__light {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 1px;
}
